.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  border: none;
  display: block;
}

.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #e8e7e7;
}
.header__box {
  display: flex;
  align-items: center;
}
.header__logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
  animation-name: run-title;
  animation-duration: 2s;
}
.header__span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header__navigation {
  margin-right: 318px;
}
.header__list {
  display: flex;
  gap: 50px;
}
.header__item {
  display: flex;
  align-items: center;
}
.header__item:hover > .header-link::after {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__line {
  color: #2196f3;
}
.header__line::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 1;
  margin-top: 28px;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
}
.header__link:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #2196f3;
}
.header__contacts {
  display: flex;
  gap: 50px;
}
.header__email {
  color: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header__mail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__mail:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__phone {
  color: #757575;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.header__number {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header__number:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes run-title {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translate(0);
  }
}
.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.webp);
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero__button {
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: #2196f3;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) opacity;
}

.window {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.window .window__window {
  transform: translate(0);
  transform: rotate(0);
}
.window__window {
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: rotate(360deg) translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1) transform;
}
.window__close {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.window__close:hover, .window__close:focus {
  fill: var(--whathbtbg);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window__title {
  color: var(--feauturesmain);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.window__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.window__name {
  color: var(--headermail);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.window__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
}
.window__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.window__icons {
  position: absolute;
  top: 29px;
  left: 12px;
}
.window__icons:focus {
  fill: #2196f3;
}
.window__comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
}
.window__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.window__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.window__comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.window__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.window__text {
  color: var(--feauturesmain);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.window__link {
  color: #2196f3;
}
.window__button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
  gap: 30px;
}
.features__item:nth-child(1)::before {
  content: url("../images/antenna.webp");
  display: block;
  margin-bottom: 30px;
}
.features__item:nth-child(2)::before {
  content: url("../images/clock.webp");
  display: block;
  margin-bottom: 30px;
}
.features__item:nth-child(3)::before {
  content: url("../images/laptop.webp");
  display: block;
  margin-bottom: 30px;
}
.features__item:nth-child(4)::before {
  content: url("../images/space.webp");
  display: block;
  margin-bottom: 30px;
}
.features__caption {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}
.features__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.do {
  padding-bottom: 30px;
}
.do__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.do__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
.do__work {
  position: relative;
}
.do__work > .do__descr {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 77px;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.do__descr {
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #ffffff;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__item {
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.team__name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team__paragraph {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
.team__list2 {
  display: flex;
  justify-content: center;
}
.team__contact {
  width: 20px;
  height: 20px;
  fill: #757575;
  margin-right: 34px;
  margin-top: 28px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.clients__item:hover > .clients__icon {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover {
  border: 1px solid #2196f3;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: #afb1b8;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__cont {
  display: flex;
  gap: 70px;
}
.footer__logo {
  color: #ffffff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer__span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__address {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 20px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 9px;
  display: block;
}
.footer__link:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 10px;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  gap: 10px;
}
.footer__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__item:hover {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}
.footer__subscribe {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__input {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
}
.footer__button {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-left: 12px;
}
.footer__tg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}
.footer__container2 {
  display: flex;
}/*# sourceMappingURL=main.css.map */