:root {
  --text-color: #212121;
  --logo-colour: #2196f3;
  --title-color: #FFFFF;
  --paragraphs-color: #757575;
  --bg-color: #f5f4fa;
  --grid-gap: 30px;
  --cards: 3;
}
body {
  font-family: Roboto;
}
.container {
  /* outline: solid red; */
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.grid-list {
  display: flex;
  justify-content: center;
  gap: var(--grid-gap);
}
.grid-item {
  width: calc((100% - var(--grid-gap) * var(--cards)) / var(--cards));
}
/* header */
.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.header-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-navigation {
  margin-right: 318px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: #2196f3;
}
.header-link::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 48px;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #2196f3;
}

.header-item:hover > .header-link::after {
  opacity: 1;
}
.header-list {
  --grid-gap: 30px;
}
.header-item {
  --cards: 3;
}

/* contact */
.header-contacts {
  display: flex;
  gap: 50px;
}
.header-mail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-item {
  display: flex;
  align-items: center;
}
.header-phone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.icon-email {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-mail:hover {
  color: #2196f3;
}
.header-phone:hover {
  color: #2196f3;
}
.header-item:hover {
  fill: #2196f3;
}
/* hero */
.hero-section {
  padding-top: 94px;
  padding-bottom: 50px;
}
.hero-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.hero-button {
  color: #212121;
  background-color: #f5f4fa;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  display: block;
  height: 38px;
  border-radius: 4px;
  border: none;
}
.hero-button:hover {
  background: #2196f3;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.hero-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
/* overlay */
.overlay-text {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0.54px;
  width: 322px;
}

.overlay-box {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-box:hover .overlay {
  transform: translatey(0);
}

.overlay p {
  color: #fff;
  padding: 10px;
  margin: 0;
  font-size: 18px;
}
/* all */
.all-section {
  padding-bottom: 94px;
}
.all-list {
  flex-wrap: wrap;
  --grid-gap: 30px;
}

.all-item {
  border: 1px solid #eee;
  background-color: #fff;
  width: 370px;
  padding-bottom: 20px;
  --cards: 9;
}
.all-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.all-img {
  margin-bottom: 20px;
}
.all-subtitle {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-left: 24px;
}
.all-text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
  padding-left: 24px;
}
/* footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 20px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 9px;
  display: block;
}
.footer-link:hover {
  color: #2196f3;
}
.footer-list {
  display: flex;
  gap: 10px;
}
.join-title {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 10px;
}
.footer-cont {
  display: flex;
  gap: 70px;
}
.join-title {
  margin-bottom: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.footer-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-item:hover {
  background-color: #2196f3;
}
.footer-form {
  padding-top: 12px;
  margin-left: 80px;
}

.footer-form-title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-form-container {
  display: flex;
  gap: 12px;
}

.footer-form-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.footer-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.footer-form-input::placeholder {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.footer-form-button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: #2196f3;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
}

.footer-form-icon {
  fill: #fff;
}
