:root {
  --text-color: #212121;
  --logo-colour: #2196f3;
  --title-color: #FFFFF;
  --paragraphs-color: #757575;
  --bg-color: #f5f4fa;
}
body {
  font-family: Roboto;
}
.container {
  outline: solid red;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
/* header */
.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}
.header-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-navigation {
  margin-right: 344px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-link:hover {
  color: #2196f3;
}
/* contact */
.header-contacts {
  display: flex;
  gap: 50px;
}
.header-mail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-phone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.header-mail:hover {
  color: #2196f3;
}
.header-phone:hover {
  color: #2196f3;
}
/* hero */
.hero {
  background-color: #212121;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  letter-spacing: 2.64px;
}
.hero-button {
  color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border: none;
  border-radius: 4px;
  background: #2196f3;
}
/* features */
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-caption {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
}
.features-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
/* do */
.do-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.do-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}
/* team */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-item {
  background-color: #fff;
  width: 270px;
  text-align: center;
  padding-bottom: 30px;
}
.team-img {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.team-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}
.team-paragraph {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}
/* footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer-span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-logo {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
.footer-address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 20px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  width: 231px;
  height: 21px;
  margin-top: 9px;
  display: block;
}
.footer-link:hover {
  color: #2196f3;
}
