.features {
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__item:nth-child(1)::before {
    content: url("../images/antenna.webp");
    background-color: #f5f4ff;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item:nth-child(2)::before {
    content: url("../images/clock.webp");
    background-color: #f5f4ff;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item:nth-child(3)::before {
    content: url("../images/laptop.webp");
    background-color: #f5f4ff;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__item:nth-child(4)::before {
    content: url("../images/space.webp");
    background-color: #f5f4ff;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
    }
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__caption {
    color: $text-color;
    @extend %text;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
    }
  }

  &__text {
    color: $paragraphs-color;
    @extend %text;
    font-weight: 400;
    line-height: 1.71;

    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
}
