.header {
  padding-top: 23px;
  padding-bottom: 24px;
  border: 1px solid #ececec;
}
.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
  animation-name: run-title;
  animation-duration: 2s;
}
.header-span {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.header-box {
  display: flex;
  align-items: center;
}
.header-navigation {
  margin-right: 318px;
}
.header-list {
  display: flex;
  gap: 50px;
}
.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
}
.header-link:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #2196f3;
}

.header-item:hover > .header-link::after {
  opacity: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-line::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 1;
  margin-top: 28px;
}
.header-line {
  color: #2196f3;
}
/* contact */
.header-contacts {
  display: flex;
  gap: 50px;
}
.header-item {
  display: flex;
  align-items: center;
}
.header-item:hover {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.icon-email {
  color: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-phone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.icon-phone {
  color: #757575;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.header-mail:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-phone:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
