.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $bg-color;

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__item {
    background-color: $bg-color;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    @media screen and (max-width: 767px) {
      width: 450px;
      height: 622px;
    }

    @media screen and (min-width: 768px) {
      width: 354px;
      height: 536px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
      height: 428px;
    }
  }

  &__img {
    width: 270px;
    height: 260px;
    margin-bottom: 30px;
  }

  &__name {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
  }

  &__paragraph {
    color: $paragraphs-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
  }

  &__list2 {
    display: flex;
    justify-content: center;
  }

  &__contact {
    width: 20px;
    height: 20px;
    fill: $paragraphs-color;
    margin-right: 34px;
    margin-top: 28px;
  }
}
