.footer {
  background: $footer-bgcolor;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;

  &__cont {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 60px;
    }

    @media screen and (min-width: 768px) {
      flex-direction: column;
      gap: 60px;
    }
    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 93px;
    }
  }

  &__info {
    width: 232px;

    @media screen and (max-width: 768px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__logo {
    color: $bg-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
    display: block;
    width: 154px;

    @media screen and (max-width: 768px) {
      margin-right: auto;
      margin-left: auto;
    }
  }

  &__span {
    color: $logo-colour;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  &__address {
    color: $bg-color;
    @extend %text;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    width: 207px;
    margin-top: 20px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    @extend %text;
    font-weight: 400;
    line-height: 1.71;
    width: 134;
    margin-top: 9px;
    display: block;

    &:hover {
      color: $logo-colour;
      @include animations;
    }
  }

  &__subtitle {
    color: $bg-color;
    font-style: normal;
    font-weight: 700;
    @extend %text;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 135px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-left: auto;
    }
  }

  &__list {
    display: flex;
    gap: 10px;
    width: 206px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $logo-colour;
      @include animations;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $bg-color;
  }

  &__subscribe {
    color: $bg-color;
    color: $pf-bg;
    @extend %last-connect;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__input {
    width: 358px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
  }

  &__button {
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: $logo-colour;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $bg-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    margin-left: 12px;
  }

  &__tg {
    width: 24px;
    height: 24px;
    fill: $bg-color;
  }

  &__container2 {
    display: flex;
  }

  &__join {
    margin-top: 5px;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
